Repository oVirt/ovirt-engine, pull requests merged in 2022-09, with the labels that each got.

#611 core: Allow RunOnce for single non-bootable disk
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/utils/VmDeviceCommonUtils.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/RunOnceModel.java
Labels: verified, virt

#640 webadmin: Deprecate export domain for import
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/templates/ImportTemplatesModel.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/ImportVmsModel.java
  frontend/webadmin/modules/uicompat/src/main/resources/org/ovirt/engine/ui/uicompat/LocalizedEnums.properties
  frontend/webadmin/modules/webadmin/src/main/java/org/ovirt/engine/ui/webadmin/section/main/view/popup/ImportTemplatesPopupView.ui.xml
  frontend/webadmin/modules/webadmin/src/main/java/org/ovirt/engine/ui/webadmin/section/main/view/popup/ImportVmsPopupView.ui.xml
Labels: verified, virt

#612 webadmin: Add IDs to main events view table
  frontend/webadmin/modules/webadmin/src/main/java/org/ovirt/engine/ui/webadmin/section/main/view/MainEventView.java
Labels: virt

#630 core: do not use DeserializationFeature.READ_ENUMS_USING_TO_STRING
  backend/manager/modules/utils/src/main/java/org/ovirt/engine/core/utils/serialization/json/JsonObjectDeserializer.java
Labels: storage

#634 Fix error when changing cluster of diskless vms
  frontend/webadmin/modules/gwt-common/src/main/java/org/ovirt/engine/ui/common/widget/uicommon/storage/DisksAllocationView.java
Labels: storage

#651 Removing a duplicate "setStoragePoolId()" call at the "LiveMigrateDiskCommand" class
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/lsm/LiveMigrateDiskCommand.java
Labels: storage

#92 core: validate transfer phase
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/image/ImageTransferUpdater.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/businessentities/storage/ImageTransferPhase.java
Labels: storage

#549 restapi: incorrect href for parent href
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/snapshots/GetDiskSnapshotByImageIdQuery.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/GetAllDiskSnapshotsQuery.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/businessentities/storage/Disk.java
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/BackendDiskSnapshotResource.java
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/BackendDiskSnapshotsResource.java
Labels: storage

#635 core: Refresh ISO cache when new guest agent installed
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/VdsEventListener.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/businessentities/IVdsEventListener.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/ResourceManager.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/monitoring/VmAnalyzer.java
Labels: verified, virt

#666 Fix "GetDiskSnapshotByImageIdQuery" to be more null-safe
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/snapshots/GetDiskSnapshotByImageIdQuery.java
Labels: storage

#667 core: fix checking if an active snapshot is set with memory for restoring purpose
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/snapshots/TryBackToAllSnapshotsOfVmCommand.java
Labels: storage

#660 Handle absent of lease SD when starting ha vm
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/RunVmCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/policyunits/VmLeasesReadyFilterPolicyUnit.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/RunVmCommandTest.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/scheduling/policyunits/VmLeasesReadyFilterPolicyUnitTest.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/VmManager.java
Labels: virt

#632 core: VDS Maintenance will wait for all disk transfers to happen and …
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/MaintenanceNumberOfVdssCommand.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/errors/EngineMessage.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/monitoring/VirtMonitoringStrategy.java
  backend/manager/modules/vdsbroker/src/test/java/org/ovirt/engine/core/vdsbroker/monitoring/MultipleServicesMonitoringStrategyTest.java
  backend/manager/modules/vdsbroker/src/test/java/org/ovirt/engine/core/vdsbroker/monitoring/VirtMonitoringStrategyTest.java
  frontend/webadmin/modules/frontend/src/main/java/org/ovirt/engine/ui/frontend/AppErrors.java
  frontend/webadmin/modules/frontend/src/main/resources/org/ovirt/engine/ui/frontend/AppErrors.properties
Labels: storage

#655 Make register-vm a sync operation
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/AbstractBackendActionableResource.java
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/AbstractBackendCollectionResource.java
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/AbstractBackendResource.java
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/BackendStorageDomainVmResource.java
  backend/manager/modules/restapi/jaxrs/src/test/java/org/ovirt/engine/api/restapi/resource/BackendTemplateResourceTest.java
Labels: verified, storage

#656 core: RemoveImage: handle failure in VDS command
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/image/RemoveImageCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/image/RemoveImageCommandCallback.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/AuditLogType.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/action/RemoveImageParameters.java
  backend/manager/modules/dal/src/main/resources/bundles/AuditLogMessages.properties
Labels: storage

#670 LSM: fix locking on restart
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/lsm/LiveMigrateDiskCommand.java
Labels: storage

#678 Trigger OvfDataUpdater when detaching a storage domain
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/domain/DetachStorageDomainFromPoolCommand.java
Labels: verified, storage

#681 Fix SD detach flow ("unregistered_ovf_of_entities" DB table)
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/StorageHandlingCommandBase.java
Labels: verified, storage

#662 engine: Fix update cluster with numa VMs
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/UpdateClusterCommand.java
Labels: verified, virt
