Repository oVirt/ovirt-engine, pull requests merged in 2022-03, with the labels that each got.

#100 Block creation of a template from a snapshot with MBS disk(s)
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/AddVmTemplateFromSnapshotCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/CreateAllTemplateDisksFromSnapshotCommand.java
Labels: verified, storage

#119 core: fix NPE on cpuTopology
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/utils/VdsCpuUnitPinningHelper.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/VdsManager.java
Labels: virt

#118 restapi: fix vm mapper
  backend/manager/modules/restapi/types/src/main/java/org/ovirt/engine/api/restapi/types/VmMapper.java
Labels: virt

#112 core: fix retry for transfer image stopImageTransferSession failure
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/image/TransferDiskImageCommand.java
Labels: verified, storage

#85 Send grafana link with dashboard data
  frontend/webadmin/modules/frontend/src/main/java/org/ovirt/engine/ui/frontend/server/dashboard/Dashboard.java
  frontend/webadmin/modules/frontend/src/main/java/org/ovirt/engine/ui/frontend/server/dashboard/DashboardDataServlet.java
Labels: UX

#126 packaging: bump apache-sshd to 2.8.x
  backend/manager/modules/uutils/src/main/java/org/ovirt/engine/core/uutils/ssh/OpenSSHUtils.java
  ovirt-engine.spec.in
  pom.xml
Labels: infra

#121 rename 'Kdump Status' to 'Kdump Integration Status' in Host detail view.
  frontend/webadmin/modules/webadmin/src/main/resources/org/ovirt/engine/ui/webadmin/ApplicationConstants.properties
Labels: infra

#74 webadmin: reset settings in Options dialog
  frontend/webadmin/modules/gwt-common/src/main/java/org/ovirt/engine/ui/common/CommonApplicationConstants.java
  frontend/webadmin/modules/gwt-common/src/main/java/org/ovirt/engine/ui/common/system/BaseApplicationInit.java
  frontend/webadmin/modules/gwt-common/src/main/java/org/ovirt/engine/ui/common/view/popup/OptionsPopupView.java
  frontend/webadmin/modules/gwt-common/src/main/java/org/ovirt/engine/ui/common/view/popup/OptionsPopupView.ui.xml
  frontend/webadmin/modules/gwt-common/src/main/resources/org/ovirt/engine/ui/common/CommonApplicationConstants.properties
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/UICommand.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/options/ConfirmSuspendingVmField.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/options/EditOptionsModel.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/options/Field.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/options/LocalStoragePersistenceField.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/options/OptionsModel.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/options/PublicSshKeyField.java
  frontend/webadmin/modules/uicompat/src/main/java/org/ovirt/engine/ui/uicompat/UIConstants.java
  frontend/webadmin/modules/uicompat/src/main/resources/org/ovirt/engine/ui/uicompat/UIConstants.properties
Labels: UX

#131 Fixing the issue with VM name shown as <UNKNOWN> in disk properties update notification
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/UpdateDiskCommand.java
  backend/manager/modules/dal/src/main/resources/bundles/ExecutionMessages.properties
Labels: verified, storage

#115 webadmin: add home page to Account Settings
  frontend/webadmin/modules/frontend/src/main/java/org/ovirt/engine/ui/frontend/server/gwt/GwtDynamicHostPageServlet.java
  frontend/webadmin/modules/frontend/src/main/resources/META-INF/resources/GwtHostPage.jsp
  frontend/webadmin/modules/gwt-common/src/main/java/org/ovirt/engine/ui/common/CommonApplicationConstants.java
  frontend/webadmin/modules/gwt-common/src/main/java/org/ovirt/engine/ui/common/CommonApplicationMessages.java
  frontend/webadmin/modules/gwt-common/src/main/java/org/ovirt/engine/ui/common/place/ApplicationPlaceManager.java
  frontend/webadmin/modules/gwt-common/src/main/java/org/ovirt/engine/ui/common/section/main/presenter/OptionsPopupPresenterWidget.java
  frontend/webadmin/modules/gwt-common/src/main/java/org/ovirt/engine/ui/common/view/popup/OptionsPopupView.java
  frontend/webadmin/modules/gwt-common/src/main/java/org/ovirt/engine/ui/common/view/popup/OptionsPopupView.ui.xml
  frontend/webadmin/modules/gwt-common/src/main/resources/org/ovirt/engine/ui/common/CommonApplicationConstants.properties
  frontend/webadmin/modules/gwt-common/src/main/resources/org/ovirt/engine/ui/common/CommonApplicationMessages.properties
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/options/CustomHomePageField.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/options/EditOptionsModel.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/options/OptionsModel.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/options/UseCustomHomePageField.java
  frontend/webadmin/modules/uicompat/src/main/java/org/ovirt/engine/ui/uicompat/UIConstants.java
  frontend/webadmin/modules/uicompat/src/main/resources/org/ovirt/engine/ui/uicompat/UIConstants.properties
Labels: UX

#116 ansible: Add async with timeout for OVA related tasks
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/AnsiblePackOvaCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/GetFromOvaQuery.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/exportimport/ExportOvaCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/exportimport/ExtractOvaCommand.java
  packaging/ansible-runner-service-project/project/roles/ovirt-ova-export-post-pack/tasks/main.yml
  packaging/ansible-runner-service-project/project/roles/ovirt-ova-export-pre-pack/tasks/main.yml
  packaging/ansible-runner-service-project/project/roles/ovirt-ova-extract/tasks/main.yml
  packaging/ansible-runner-service-project/project/roles/ovirt-ova-pack/tasks/main.yml
  packaging/ansible-runner-service-project/project/roles/ovirt-ova-query/tasks/main.yml
Labels: infra

#134 core: Fix wrong IP comparison in NetworkConfigurator
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/network/NetworkConfigurator.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/network/NetworkConfiguratorTest.java
Labels: networking

#140 core: fix resize and pin scheduling
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/policyunits/CpuPinningPolicyUnit.java
Labels: virt

#149 core: fix error handling when switching image
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/image/ConvertDiskCommand.java
Labels: storage

#144 restapi: do not serialized nullable fields
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/json/CustomObjectMapperFactory.java
Labels: bug, infra

#123 [db] fkvalidator fix
  packaging/setup/dbutils/fkvalidator_sp.sql
Labels: infra

#155 engine: Remove "Pin to another host" dialog
  frontend/webadmin/modules/gwt-common/src/main/java/org/ovirt/engine/ui/common/CommonApplicationConstants.java
  frontend/webadmin/modules/gwt-common/src/main/resources/org/ovirt/engine/ui/common/CommonApplicationConstants.properties
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/help/HelpTag.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/hostdev/RepinHostModel.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/hostdev/VmHostDeviceListModel.java
  frontend/webadmin/modules/uicompat/src/main/java/org/ovirt/engine/ui/uicompat/UIConstants.java
  frontend/webadmin/modules/uicompat/src/main/resources/org/ovirt/engine/ui/uicompat/UIConstants.properties
  frontend/webadmin/modules/webadmin/src/main/java/org/ovirt/engine/ui/webadmin/gin/PresenterModule.java
  frontend/webadmin/modules/webadmin/src/main/java/org/ovirt/engine/ui/webadmin/gin/uicommon/VirtualMachineModule.java
  frontend/webadmin/modules/webadmin/src/main/java/org/ovirt/engine/ui/webadmin/section/main/presenter/popup/hostdev/VmRepinHostPopupPresenterWidget.java
  frontend/webadmin/modules/webadmin/src/main/java/org/ovirt/engine/ui/webadmin/section/main/presenter/tab/virtualMachine/VmHostDeviceActionPanelPresenterWidget.java
  frontend/webadmin/modules/webadmin/src/main/java/org/ovirt/engine/ui/webadmin/section/main/view/popup/vm/VmRepinHostPopupView.java
  frontend/webadmin/modules/webadmin/src/main/java/org/ovirt/engine/ui/webadmin/section/main/view/popup/vm/VmRepinHostPopupView.ui.xml
Labels: virt

#103 fix manage events form email display
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/users/UserEventNotifierListModel.java
Labels: infra

#150 core: support backup in convert disk
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/image/ConvertDiskCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/image/CreateVolumeContainerCommand.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/action/ConvertDiskCommandParameters.java
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/BackendDiskResource.java
Labels: storage

#156 Eliminate a race between AddVmTemplate and UpdateVmVersion
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/AddVmTemplateCommand.java
Labels: virt

#162 restapi: stub HostCpuUnitsResource
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/BackendHostCpuUnitsResource.java
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/BackendHostResource.java
Labels: verified

#145 webadmin: add dataCenterId field to SD entity object
  frontend/webadmin/modules/webadmin/src/main/java/org/ovirt/engine/ui/webadmin/plugin/entity/EntityObject.java
Labels: storage

#168 webadmin: fix displaying IOMMU placeholder rows
  frontend/webadmin/modules/webadmin/src/main/java/org/ovirt/engine/ui/webadmin/section/main/view/tab/virtualMachine/VmHostDeviceModelTable.java
Labels: UX

#169 Display the name of the disk being added
  backend/manager/modules/dal/src/main/resources/bundles/ExecutionMessages.properties
Labels: verified, storage

#163 engine: make host id mandatory for ProcessDownVmParameters
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/ClearNonResponsiveVdsVmsCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/ProcessDownVmCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/RestartVdsVmsOperation.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/RunVmCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/RunVmCommandBase.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/action/ProcessDownVmParameters.java
Labels: virt

#152 core: consider user defined topology
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/SchedulingManager.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/pending/PendingCpuPinning.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/policyunits/CpuPinningPolicyUnit.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/utils/VdsCpuUnitPinningHelper.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/scheduling/utils/VdsCpuUnitPinningHelperTest.java
Labels: virt

#173 Add an action panel to vm devices tab
  frontend/webadmin/modules/webadmin/src/main/java/org/ovirt/engine/ui/webadmin/gin/PresenterModule.java
  frontend/webadmin/modules/webadmin/src/main/java/org/ovirt/engine/ui/webadmin/section/main/presenter/tab/virtualMachine/SubTabVirtualMachineVmDevicePresenter.java
  frontend/webadmin/modules/webadmin/src/main/java/org/ovirt/engine/ui/webadmin/section/main/presenter/tab/virtualMachine/VmDeviceActionPanelPresenterWidget.java
  frontend/webadmin/modules/webadmin/src/main/java/org/ovirt/engine/ui/webadmin/section/main/view/tab/virtualMachine/SubTabVirtualMachineVmDevicesView.java
Labels: virt

#86 restapi: add host cpu units
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/BackendHostCpuUnitsResource.java
  backend/manager/modules/restapi/types/src/main/java/org/ovirt/engine/api/restapi/types/HostMapper.java
Labels: virt

#164 core: move resize and pin CPUs settings
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/RunVmCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/VmHandler.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/SchedulingManager.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/utils/VdsCpuUnitPinningHelper.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/scheduling/utils/VdsCpuUnitPinningHelperTest.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/businessentities/VdsCpuUnit.java
Labels: verified, virt

#79 webadmin: avoid resetting host selection on upload disk
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/storage/UploadImageModel.java
Labels: verified, storage

#47 core: set disk_id when downloading snapshots
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/GetDiskIdBySnapshotIdQuery.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/image/TransferDiskImageCommand.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/storage/disk/image/TransferDiskImageCommandTest.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/queries/QueryType.java
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/BackendImageTransfersResource.java
Labels: storage

#177 ansible: Sync OVN SB DB chassis after upgrade
  packaging/ansible-runner-service-project/project/ovirt-host-reconfigure-ovn.yml
  packaging/ansible-runner-service-project/project/ovirt_host_upgrade_vars.yml
Labels: networking

#132 webadmin: improve audit log for user profile
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/AddUserProfilePropertyCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/RemoveUserProfilePropertyCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/UpdateUserProfilePropertyCommand.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/AddUserProfilePropertyCommandTest.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/RemoveUserProfilePropertyCommandTest.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/UpdateUserProfilePropertyCommandTest.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/UserProfileTestHelper.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/AuditLogType.java
  backend/manager/modules/dal/src/main/resources/bundles/AuditLogMessages.properties
Labels: UX

#154 Disable dedicated cpu pinning policy for vms with pinned numa nodes
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/VmHandler.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/errors/EngineMessage.java
  frontend/webadmin/modules/frontend/src/main/java/org/ovirt/engine/ui/frontend/AppErrors.java
  frontend/webadmin/modules/frontend/src/main/resources/org/ovirt/engine/ui/frontend/AppErrors.properties
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/ExistingVmModelBehavior.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/UnitVmModel.java
  frontend/webadmin/modules/uicompat/src/main/resources/org/ovirt/engine/ui/uicompat/UIConstants.properties
Labels: virt

#180 Handle numa pinning without cpu pinning
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/VmHandler.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/SchedulingManager.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/policyunits/CpuPinningPolicyUnit.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/policyunits/HighPerformanceCpuPolicyUnit.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/utils/NumaPinningHelper.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/utils/VdsCpuUnitPinningHelper.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/validator/InClusterUpgradeValidator.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/scheduling/policyunits/CpuAndNumaPinningWeightPolicyUnitTest.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/validator/InClusterUpgradeValidatorTest.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/businessentities/VM.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/businessentities/VdsCpuUnit.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/utils/CpuPinningHelper.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/utils/VmCpuCountHelper.java
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/BackendHostCpuUnitsResource.java
  backend/manager/modules/restapi/types/src/main/java/org/ovirt/engine/api/restapi/types/VmMapper.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/VdsManager.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/builder/vminfo/LibvirtVmXmlBuilder.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/builder/vminfo/VmInfoBuildUtils.java
Labels: verified, virt

#191 Change info message on supported OVA files
  frontend/webadmin/modules/gwt-common/src/main/resources/org/ovirt/engine/ui/common/CommonApplicationMessages.properties
Labels: virt

#142 Added mapping of Display.disconnectActionDelay
  backend/manager/modules/restapi/types/src/main/java/org/ovirt/engine/api/restapi/types/TemplateMapper.java
  backend/manager/modules/restapi/types/src/main/java/org/ovirt/engine/api/restapi/types/VmBaseMapper.java
  backend/manager/modules/restapi/types/src/main/java/org/ovirt/engine/api/restapi/types/VmMapper.java
  backend/manager/modules/restapi/types/src/test/java/org/ovirt/engine/api/restapi/types/TemplateMapperTest.java
  backend/manager/modules/restapi/types/src/test/java/org/ovirt/engine/api/restapi/types/VmMapperTest.java
Labels: virt

#184 Block hotplug cpu with dedicated policy
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/HotSetNumberOfCpusCommand.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/FeatureSupported.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/errors/EngineMessage.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/builder/vminfo/LibvirtVmXmlBuilder.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/builder/vminfo/VmInfoBuildUtils.java
  frontend/webadmin/modules/frontend/src/main/java/org/ovirt/engine/ui/frontend/AppErrors.java
  frontend/webadmin/modules/frontend/src/main/resources/org/ovirt/engine/ui/frontend/AppErrors.properties
Labels: verified, virt

#186 core: fix treatment of disks with full backup mode
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/image/TransferDiskImageCommand.java
Labels: storage

#193 bump_release: adjust copr config
  bump_release.sh
Labels: verified, integration

#196 Add a proper message for Storage Domain 'Update OVFs'
  backend/manager/modules/dal/src/main/resources/bundles/ExecutionMessages.properties
Labels: storage

#200 Add migration support for dedicated cpus with numa
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/MigrateVmCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/RunVmCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/RunVmCommandBase.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/VmHandler.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/utils/NumaPinningHelper.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/vdscommands/MigrateVDSCommandParameters.java
  backend/manager/modules/dal/src/main/java/org/ovirt/engine/core/dao/VmDynamicDao.java
  backend/manager/modules/dal/src/main/java/org/ovirt/engine/core/dao/VmDynamicDaoImpl.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/vdsbroker/MigrateBrokerVDSCommand.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/vdsbroker/VdsProperties.java
  packaging/dbscripts/vms_sp.sql
Labels: virt

#170 restapi+core: Allow cluster upgrade progress reporting
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/FinishClusterUpgradeCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/StartClusterUpgradeCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/UpdateClusterUpgradeCommand.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/AuditLogType.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/action/ActionType.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/action/ClusterUpgradeParameters.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/businessentities/Cluster.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/errors/EngineMessage.java
  backend/manager/modules/dal/src/main/java/org/ovirt/engine/core/dao/ClusterDao.java
  backend/manager/modules/dal/src/main/java/org/ovirt/engine/core/dao/ClusterDaoImpl.java
  backend/manager/modules/dal/src/main/resources/bundles/AuditLogMessages.properties
  backend/manager/modules/dal/src/test/java/org/ovirt/engine/core/dao/ClusterDaoTest.java
  backend/manager/modules/dal/src/test/resources/fixtures.xml
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/BackendClusterResource.java
  backend/manager/modules/restapi/types/src/main/java/org/ovirt/engine/api/restapi/types/ClusterMapper.java
  frontend/webadmin/modules/frontend/src/main/java/org/ovirt/engine/ui/frontend/AppErrors.java
  frontend/webadmin/modules/frontend/src/main/resources/org/ovirt/engine/ui/frontend/AppErrors.properties
  packaging/dbscripts/clusters_sp.sql
  packaging/dbscripts/upgrade/04_05_0250_add_upgrade_info_to_cluster.sql
Labels: UX

#171 webadmin: Cluster grid upgrade status column as progress bar
  frontend/webadmin/modules/webadmin/src/main/java/org/ovirt/engine/ui/webadmin/widget/table/column/ClusterUpgradeStatusColumn.java
Labels: UX

#201 bump model version to 4.5.7
  pom.xml
Labels: infra

#198 Consider numa memory to dedicated scheduling
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/SchedulingManager.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/utils/VdsCpuUnitPinningHelper.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/scheduling/utils/VdsCpuUnitPinningHelperTest.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/utils/NumaPinningHelper.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/utils/NumaUtils.java
  backend/manager/modules/common/src/test/java/org/ovirt/engine/core/common/utils/NumaUtilsTest.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/vdsbroker/NumaSettingFactory.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/builders/vm/NumaUnitToVmBaseBuilder.java
Labels: virt

#181 fapolicy: add allow rule for vdsm-mom
  packaging/ansible-runner-service-project/project/roles/ovirt-host-deploy-vdsm/tasks/configure.yml
Labels: infra

#182 webadmin: prevent NPE in host interface list
  frontend/webadmin/modules/webadmin/src/main/java/org/ovirt/engine/ui/webadmin/widget/host/HostNetworkInterfaceListViewItem.java
Labels: networking

#210 core: only use selected disks for hybrid backup
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/backup/HybridBackupCommand.java
Labels: storage
