Repository oVirt/ovirt-engine, pull requests merged in 2022-06, with the labels that each got.

#301 Fix "DiskImage" copy constructor
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/businessentities/storage/DiskImage.java
Labels: storage

#367 core: fail backup stop if active image transfer exists
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/backup/StopVmBackupCommand.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/businessentities/storage/ImageTransferPhase.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/errors/EngineMessage.java
  backend/manager/modules/dal/src/main/java/org/ovirt/engine/core/dao/ImageTransferDao.java
  backend/manager/modules/dal/src/main/java/org/ovirt/engine/core/dao/ImageTransferDaoImpl.java
  frontend/webadmin/modules/frontend/src/main/java/org/ovirt/engine/ui/frontend/AppErrors.java
  frontend/webadmin/modules/frontend/src/main/resources/org/ovirt/engine/ui/frontend/AppErrors.properties
  packaging/dbscripts/image_transfers_sp.sql
Labels: storage

#397 core: copy disk will set the correct allocation policy for the new copied disk
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/image/CopyImageGroupWithDataCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/image/CreateVolumeContainerCommand.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/action/CreateVolumeContainerCommandParameters.java
Labels: storage

#252 core: consider dedicated cpus when scoring hosts
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/PolicyUnitImpl.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/SchedulingManager.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/pending/PendingCpuCores.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/pending/PendingCpuLoad.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/policyunits/CpuAndMemoryBalancingPolicyUnit.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/policyunits/CpuOverloadPolicyUnit.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/policyunits/EvenDistributionBalancePolicyUnit.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/policyunits/EvenDistributionCPUWeightPolicyUnit.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/policyunits/HighPerformanceCpuPolicyUnit.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/policyunits/PowerSavingBalancePolicyUnit.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/policyunits/PowerSavingCPUWeightPolicyUnit.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/utils/FindVmAndDestinations.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/utils/HostCpuLoadHelper.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/utils/VdsCpuUnitPinningHelper.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/utils/VdsCpuUsageComparator.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/scheduling/policyunits/CpuAndMemoryBalancingPolicyUnitTest.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/scheduling/policyunits/CpuOverloadPolicyUnitTest.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/scheduling/policyunits/EvenDistributionWeightPolicyUnitTest.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/scheduling/policyunits/PowerSavingWeightPolicyUnitTest.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/businessentities/VdsCpuUnit.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/VdsManager.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/monitoring/HostMonitoring.java
Labels: verified, virt

#418 Default SD for imported VM with lease
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/exportimport/ImportVmCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/exportimport/ImportVmCommandBase.java
Labels: verified, virt

#384 Reduce CPU pinning fragmentation
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/SchedulingManager.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/businessentities/CpuPinningPolicy.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/businessentities/comparators/VmsCpuPinningPolicyComparator.java
  backend/manager/modules/common/src/test/java/org/ovirt/engine/core/common/businessentities/comparators/VmsCpuPinningPolicyComparatorTest.java
Labels: verified, virt

#422 packaging: Fix KeyError in ovirt-engine-rename certificate handling
  packaging/setup/plugins/ovirt-engine-rename/ovirt-engine/ovn.py
  packaging/setup/plugins/ovirt-engine-rename/ovirt-engine/pki.py
  packaging/setup/plugins/ovirt-engine-rename/websocket_proxy/pki.py
Labels: bug, verified

#402 Allow setting virtual NUMA nodes without host pinning
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/numa/vm/NumaValidator.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/numa/vm/AddVmNumaNodesCommandTest.java
  frontend/webadmin/modules/gwt-common/src/main/java/org/ovirt/engine/ui/common/widget/uicommon/popup/AbstractVmPopupWidget.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/ExistingVmModelBehavior.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/VmModelBehaviorBase.java
Labels: verified, virt

#269 i18n+welcome+webadmin: Add support for Georgian language as a community translation
  backend/manager/modules/utils/src/main/resources/languages.properties
  backend/manager/modules/welcome/src/test/java/org/ovirt/engine/core/WelcomeServletTest.java
  frontend/webadmin/modules/pom.xml
  frontend/webadmin/modules/webadmin/src/main/resources/org/ovirt/engine/ui/webadmin/WebAdmin.gwt.xml
  i18n/Makefile
  i18n/zanata.xml
Labels: UX

#400 webadmin: block editing of some fields when Resize and Pin is selected
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/AddVmCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/UpdateVmCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/VmHandler.java
  frontend/webadmin/modules/gwt-common/src/main/java/org/ovirt/engine/ui/common/widget/uicommon/popup/AbstractVmPopupWidget.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/ExistingVmModelBehavior.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/NewVmModelBehavior.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/UnitVmModel.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/VmModelBehaviorBase.java
  frontend/webadmin/modules/uicompat/src/main/java/org/ovirt/engine/ui/uicompat/UIConstants.java
  frontend/webadmin/modules/uicompat/src/main/resources/org/ovirt/engine/ui/uicompat/UIConstants.properties
Labels: verified, virt

#412 engine: Change the memory usage calculation
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/utils/HugePageUtils.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/monitoring/HostMonitoring.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/vdsbroker/VdsBrokerObjectsBuilder.java
Labels: verified, virt

#395 webadmin: Preselect bochs for Server VMs
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/UnitVmModel.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/VmModelBehaviorBase.java
Labels: virt

#459 engine: Remove md_clear from Nehalem and Westmere
  packaging/dbscripts/upgrade/pre_upgrade/0000_config.sql
Labels: virt

#428 core: code styling: uniting if statements
  backend/manager/modules/utils/src/main/java/org/ovirt/engine/core/utils/ovf/OvfReader.java
Labels: storage

#380 Switch CPUPinningPolicyUnit to handle group of VMs
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/policyunits/CpuPinningPolicyUnit.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/utils/VdsCpuUnitPinningHelper.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/scheduling/policyunits/CpuPinningPolicyUnitTest.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/scheduling/utils/VdsCpuUnitPinningHelperTest.java
  frontend/webadmin/modules/frontend/src/main/resources/org/ovirt/engine/ui/frontend/AppErrors.properties
Labels: verified, virt

#421 Don't use vdsm core for isolate threads
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/utils/VdsCpuUnitPinningHelper.java
Labels: verified, virt

#375 core: block VM removal during backup
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/MigrateVmCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/RemoveVmCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/RunVmCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/VmCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/VmOperationCommandBase.java
Labels: storage

#393 Block snapshot removal when VM in backup
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/snapshots/RemoveSnapshotCommand.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/snapshots/RemoveSnapshotCommandTest.java
Labels: storage

#461 Fix the calculation of the VM's CPU cores
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/SchedulingManager.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/pending/PendingCpuCores.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/policyunits/CPUPolicyUnit.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/scheduling/pending/PendingResourceManagerTest.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/utils/VmCpuCountHelper.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/VdsManager.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/VmManager.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/monitoring/HostMonitoring.java
Labels: verified, virt

#466 intl: pull translations for Georgian (ka-GE)
  backend/manager/modules/enginesso/src/main/resources/AppMessages_ka_GE.properties
  backend/manager/modules/enginesso/src/main/resources/sso-messages_ka_GE.properties
  backend/manager/modules/welcome/src/main/resources/welcome-messages_ka_GE.properties
  frontend/brands/ovirt-brand/src/main/resources/messages_ka_GE.properties
  frontend/webadmin/modules/frontend/src/main/resources/org/ovirt/engine/ui/frontend/AppErrors_ka_GE.properties
  frontend/webadmin/modules/gwt-common/src/main/resources/org/ovirt/engine/ui/common/CommonApplicationConstants_ka_GE.properties
  frontend/webadmin/modules/gwt-common/src/main/resources/org/ovirt/engine/ui/common/CommonApplicationMessages_ka_GE.properties
  frontend/webadmin/modules/uicompat/src/main/resources/org/ovirt/engine/ui/uicompat/LocalizedEnums_ka_GE.properties
  frontend/webadmin/modules/uicompat/src/main/resources/org/ovirt/engine/ui/uicompat/LocalizedMigrationPolicies_ka_GE.properties
  frontend/webadmin/modules/uicompat/src/main/resources/org/ovirt/engine/ui/uicompat/NextRunFieldMessages_ka_GE.properties
  frontend/webadmin/modules/uicompat/src/main/resources/org/ovirt/engine/ui/uicompat/SpiceRedKeys_ka_GE.properties
  frontend/webadmin/modules/uicompat/src/main/resources/org/ovirt/engine/ui/uicompat/UIConstants_ka_GE.properties
  frontend/webadmin/modules/uicompat/src/main/resources/org/ovirt/engine/ui/uicompat/UIMessages_ka_GE.properties
  frontend/webadmin/modules/webadmin/src/main/resources/org/ovirt/engine/ui/frontend/ConsoleErrors_ka_GE.properties
  frontend/webadmin/modules/webadmin/src/main/resources/org/ovirt/engine/ui/frontend/VdsmErrors_ka_GE.properties
  frontend/webadmin/modules/webadmin/src/main/resources/org/ovirt/engine/ui/webadmin/ApplicationConstants_ka_GE.properties
  frontend/webadmin/modules/webadmin/src/main/resources/org/ovirt/engine/ui/webadmin/ApplicationMessages_ka_GE.properties
Labels: UX

#463 core: ignore UploadStreamVDSCommand network failure
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/irsbroker/UploadStreamVDSCommand.java
Labels: storage

#75 core: default VGA video for new VMs
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/AddGraphicsAndVideoDevicesCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/VmHandler.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/businessentities/DisplayType.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/businessentities/VmBase.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/businessentities/VmStatic.java
  backend/manager/modules/utils/src/main/java/org/ovirt/engine/core/utils/ovf/OvfReader.java
  packaging/dbscripts/upgrade/04_05_0290_change_default_display.sql
Labels: virt

#474 core: Check for real FIPS when adding username to a VNC ticket
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/ConfigureConsoleOptionsQuery.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/ConfigureConsoleOptionsQueryTest.java
Labels: verified, virt

#467 core: produce successful event if backup finished successfully
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/backup/HybridBackupCommand.java
Labels: storage

#478 webadmin: Mark 'Incremental Backup' flag by default
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/AbstractDiskModel.java
Labels: verified, storage

#470 UI: Default VGA when backing from headless
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/UnitVmModel.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/VmModelBehaviorBase.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/instancetypes/NonClusterModelBehaviorBase.java
Labels: verified, virt

#480 core: Change type of console_disconnect_action_delay parameters
  packaging/dbscripts/vm_templates_sp.sql
  packaging/dbscripts/vms_sp.sql
Labels: verified, virt

#475 Release CPUs reminders
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/SchedulingManager.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/utils/VdsCpuUnitPinningHelper.java
Labels: verified, virt

#178 Use shared lock on disks for dependent VMs
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/image/TransferDiskImageCommand.java
Labels: on hold, storage

#490 Change lock message of disks being downloaded
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/image/TransferDiskImageCommand.java
Labels: storage

#499 Set initial event number for async ansible commands
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/AnsibleCallback.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/AnsibleCommandBase.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/action/AnsibleCommandParameters.java
Labels: virt, infra, OST

#500 engine: Fix NPE when misconfiguring NUMA with hugepages
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/utils/NumaPinningHelper.java
Labels: verified, virt

#469 Block hot plug CPU with exclusive pinning
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/HotSetNumberOfCpusCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/UpdateVmCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/VmManagementCommandBase.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/UpdateVmCommandTest.java
Labels: verified, virt

#486 setup: Allow renewing certificates during the warning period
  packaging/setup/ovirt_engine_setup/engine_common/pki_utils.py
  packaging/setup/ovirt_engine_setup/remote_engine.py
  packaging/setup/plugins/ovirt-engine-setup/ovirt-engine/pki/ca.py
  packaging/setup/plugins/ovirt-engine-setup/vmconsole_proxy_helper/pki.py
Labels: bug, verified, infra

#481 core: Quota name in audit log when deleting quota
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/quota/QuotaCRUDCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/quota/RemoveQuotaCommand.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/quota/RemoveQuotaCommandTest.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/action/QuotaCRUDParameters.java
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/BackendQuotaResource.java
  backend/manager/modules/restapi/jaxrs/src/test/java/org/ovirt/engine/api/restapi/resource/BackendQuotaResourceTest.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/quota/QuotaListModel.java
Labels: verified, virt

#493 core: update actual size after conversion
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/image/ConvertDiskCommand.java
Labels: storage

#498 engine: Save updated Numa Nodes into NEXT_RUN snapshot
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/snapshots/SnapshotsManager.java
  frontend/webadmin/modules/uicompat/src/main/java/org/ovirt/engine/ui/uicompat/NextRunFieldMessages.java
  frontend/webadmin/modules/uicompat/src/main/resources/org/ovirt/engine/ui/uicompat/NextRunFieldMessages.properties
Labels: verified, virt
