Repository oVirt/ovirt-engine, pull requests merged in 2022-05, with the labels that each got.

#320 restapi: prefer parentType over subclasses in getParent
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/util/LinkHelper.java
Labels: storage

#349 core: fix copying from MBS to image domain
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/image/CopyManagedBlockDiskCommand.java
Labels: storage

#328 webadmin: Fix reseting of graphics
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/ListModel.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/OvirtSelectionModel.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/UnitVmModel.java
Labels: virt

#374 Use tarfile.GNU_FORMAT in pack_ova.py when create OVA
  packaging/ansible-runner-service-project/project/roles/ovirt-ova-pack/files/pack_ova.py
Labels: virt

#337 webadmin: update OpenSans fonts bundled with PF3
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-Bold-webfont.ttf
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-Bold-webfont.woff
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-Bold-webfont.woff2
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-BoldItalic-webfont.ttf
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-BoldItalic-webfont.woff
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-BoldItalic-webfont.woff2
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-ExtraBold-webfont.ttf
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-ExtraBold-webfont.woff
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-ExtraBold-webfont.woff2
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-ExtraBoldItalic-webfont.ttf
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-ExtraBoldItalic-webfont.woff
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-ExtraBoldItalic-webfont.woff2
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-Italic-webfont.ttf
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-Italic-webfont.woff
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-Italic-webfont.woff2
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-Light-webfont.ttf
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-Light-webfont.woff
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-Light-webfont.woff2
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-LightItalic-webfont.ttf
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-LightItalic-webfont.woff
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-LightItalic-webfont.woff2
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-Regular-webfont.ttf
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-Regular-webfont.woff
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-Regular-webfont.woff2
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-Semibold-webfont.ttf
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-Semibold-webfont.woff
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-Semibold-webfont.woff2
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-SemiboldItalic-webfont.ttf
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-SemiboldItalic-webfont.woff
  frontend/brands/ovirt-brand/src/main/resources/bundled/patternfly/fonts/OpenSans-SemiboldItalic-webfont.woff2
Labels: UX

#299 core: Change the CPUPolicyUnit for dedicated cpu pinning
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/InternalPolicyUnits.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/pending/PendingCpuCores.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/policyunits/CPUPolicyUnit.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/policyunits/CpuTopologyPolicyUnit.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/utils/VdsCpuUnitPinningHelper.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/scheduling/policyunits/CPUPolicyUnitTest.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/errors/EngineMessage.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/VdsManager.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/VmManager.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/monitoring/HostMonitoring.java
  frontend/webadmin/modules/frontend/src/main/java/org/ovirt/engine/ui/frontend/AppErrors.java
  frontend/webadmin/modules/frontend/src/main/resources/org/ovirt/engine/ui/frontend/AppErrors.properties
Labels: virt

#396 webadmin: Add DisplayType.bochs localization
  frontend/webadmin/modules/uicompat/src/main/java/org/ovirt/engine/ui/uicompat/LocalizedEnums.java
  frontend/webadmin/modules/uicompat/src/main/resources/org/ovirt/engine/ui/uicompat/LocalizedEnums.properties
Labels: virt

#370 core: avoid null value so the ${DiskName} will be injected
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/MoveDiskCommand.java
Labels: storage

#371 Leverage the VM-lock in SetVmTicket
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/SetVmTicketCommand.java
  backend/manager/modules/dal/src/main/java/org/ovirt/engine/core/dao/VmDynamicDao.java
  backend/manager/modules/dal/src/main/java/org/ovirt/engine/core/dao/VmDynamicDaoImpl.java
  backend/manager/modules/dal/src/test/java/org/ovirt/engine/core/dao/VmDynamicDaoTest.java
  packaging/dbscripts/vms_sp.sql
Labels: virt
