Repository oVirt/ovirt-engine, pull requests merged in 2022-04, with the labels that each got.

#206 core: Fix removal of unmanaged network with long name
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/network/RemoveNetworkParametersBuilder.java
Labels: networking

#215 webadmin: Fix race when creating a new template
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/NewTemplateVmModelBehavior.java
Labels: verified, virt

#203 core: measure volume before starting conversion
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/image/ConvertDiskCommand.java
Labels: verified, storage

#219 Filter resize and pin when CPUs taken
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/policyunits/CpuPinningPolicyUnit.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/errors/EngineMessage.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/utils/CpuPinningHelper.java
  frontend/webadmin/modules/frontend/src/main/java/org/ovirt/engine/ui/frontend/AppErrors.java
  frontend/webadmin/modules/frontend/src/main/resources/org/ovirt/engine/ui/frontend/AppErrors.properties
Labels: virt

#207 Follow up fix for dedicate numa
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/utils/VdsCpuUnitPinningHelper.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/scheduling/utils/VdsCpuUnitPinningHelperTest.java
Labels: virt

#217 engine: keep original cpuProfile in UpdateVmVersionCommand
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/UpdateVmVersionCommand.java
Labels: verified, virt

#211 core: unset references for parent command when cleaning up
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/image/ConvertDiskCommand.java
Labels: storage

#223 engine: move setting of cpu profile to execute
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/UpdateVmVersionCommand.java
Labels: verified, virt

#220 core: disable incremental backup for HEVM
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/backup/HybridBackupCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/backup/StartVmBackupCommand.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/storage/backup/StartVmBackupCommandTest.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/errors/EngineMessage.java
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/BackendVmBackupsResource.java
  frontend/webadmin/modules/frontend/src/main/java/org/ovirt/engine/ui/frontend/AppErrors.java
  frontend/webadmin/modules/frontend/src/main/resources/org/ovirt/engine/ui/frontend/AppErrors.properties
Labels: storage

#216 core: fix locks in ConvertDiskCommand
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/image/ConvertDiskCommand.java
Labels: storage

#235 Fix racing cluster FIPS settings
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/InitVdsOnUpCommand.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/VdsManager.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/monitoring/HostMonitoring.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/hosts/HostGeneralModel.java
  frontend/webadmin/modules/webadmin/src/main/java/org/ovirt/engine/ui/webadmin/ApplicationConstants.java
  frontend/webadmin/modules/webadmin/src/main/java/org/ovirt/engine/ui/webadmin/section/main/view/tab/host/HostGeneralSubTabView.java
  frontend/webadmin/modules/webadmin/src/main/resources/org/ovirt/engine/ui/webadmin/ApplicationConstants.properties
Labels: verified, virt

#228 Rename 'CreateAllSnapshotsFromVm' into 'CreateSnapshotForVm' leftovers
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/RunVmCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/lsm/LiveMigrateDiskCommand.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/snapshots/CreateSnapshotForVmCommandTest.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/storage/lsm/LiveMigrateDiskCommandTest.java
  frontend/webadmin/modules/uicompat/src/main/java/org/ovirt/engine/ui/uicompat/LocalizedEnums.java
  frontend/webadmin/modules/uicompat/src/main/resources/org/ovirt/engine/ui/uicompat/LocalizedEnums.properties
Labels: storage

#240 engine: hide openidc related sensitive keys
  packaging/services/ovirt-engine-notifier/ovirt-engine-notifier.conf.in
  packaging/services/ovirt-engine/ovirt-engine.conf.in
Labels: bug, infra

#176 collectd-virt plugin doesn't work with latest libvirt
  ovirt-engine.spec.in
Labels: infra

#242 Null check in ClusterAdditionalStatusColumn
  frontend/webadmin/modules/webadmin/src/main/java/org/ovirt/engine/ui/webadmin/widget/table/column/ClusterAdditionalStatusColumn.java
Labels: virt, OST

#268 restapi: restore suggestedParent
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/BackendVmBackupsResource.java
Labels: storage

#275 Fix wrong dedicated migration assignments
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/MigrateVmCommand.java
Labels: verified, virt

#280 core: handle missing allocation policy/format when converting
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/image/ConvertDiskCommand.java
Labels: storage

#284 Refactor ConvertDiskCommand#getJobMessageProperties
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/image/ConvertDiskCommand.java
Labels: storage

#279 Improve handling of the response of get capabilities
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/VdsManager.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/monitoring/HostMonitoring.java
Labels: OST

#287 Map console disconnect action delay in VmMapper
  backend/manager/modules/restapi/types/src/main/java/org/ovirt/engine/api/restapi/types/VmMapper.java
Labels: virt

#265 Change resize and pin cpu pinning policy within VM metadata
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/builder/vminfo/LibvirtVmXmlBuilder.java
Labels: virt

#291 backport to 4.5.0.z: core: Fix time units for ansible async timeount
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/AnsiblePackOvaCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/GetFromOvaQuery.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/exportimport/ExportOvaCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/exportimport/ExtractOvaCommand.java
Labels: infra

#285 Fix query in single GET disksnapshot request
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/BackendDiskSnapshotResource.java
Labels: storage

#283 restapi: fix hrefs in single GET disksnapshot request
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/BackendDiskSnapshotResource.java
Labels: storage

#254 Fix network exception handling and fencing flow logic.
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/pm/SshSoftFencingCommand.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/VdsManager.java
Labels: infra

#303 restapi: revert snapshot link
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/BackendVmBackupResource.java
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/BackendVmBackupsResource.java
Labels: storage

#263 core: reverse snapshots list
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/snapshots/RemoveDiskSnapshotsCommand.java
Labels: storage

#310 Backport: Fix import template from ova
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/exportimport/ImportVmTemplateCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/exportimport/ImportVmTemplateFromConfigurationCommand.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/action/ImportVmTemplateFromConfParameters.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/action/ImportVmTemplateParameters.java
Labels: virt

#311 packaging: Renew expiring vmconsole certificates
  packaging/setup/plugins/ovirt-engine-setup/vmconsole_proxy_helper/pki.py
Labels: virt

#282 core: adjust volume size when converting to cow/preallocated
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/image/ConvertDiskCommand.java
Labels: storage
