Repository oVirt/ovirt-engine, pull requests merged in 2022-07, with the labels that each got.

#495 webadmin: fix alignment on Resource Allocation popup
  frontend/webadmin/modules/gwt-common/src/main/java/org/ovirt/engine/ui/common/widget/uicommon/storage/DisksAllocationView.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/storage/DisksAllocationModel.java
Labels: verified, storage

#487 core: Change Error message
  frontend/webadmin/modules/frontend/src/main/resources/org/ovirt/engine/ui/frontend/AppErrors.properties
Labels: storage

#509 Delete next-run snapshot in a compensation context
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/VmHandler.java
Labels: virt

#491 setup: Make sure OVN key files are available before accessing them
  packaging/setup/ovirt_engine_setup/engine/constants.py
  packaging/setup/plugins/ovirt-engine-setup/ovirt-engine/network/ovirtproviderovn.py
  packaging/setup/plugins/ovirt-engine-setup/ovirt-engine/pki/ca.py
Labels: verified, infra

#523 core: set correct policy when reseting cpu pinning string
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/exportimport/ImportVmCommandBase.java
Labels: verified, virt

#511 Release core reminders for isolate threads
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/utils/VdsCpuUnitPinningHelper.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/scheduling/utils/VdsCpuUnitPinningHelperTest.java
Labels: virt

#515 core: Use virtio-vga driver for VGA
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/FeatureSupported.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/config/ConfigValues.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/builder/vminfo/LibvirtVmXmlBuilder.java
  packaging/dbscripts/upgrade/pre_upgrade/0000_config.sql
  packaging/etc/engine-config/engine-config.properties
Labels: verified, virt

#526 core: do not use double-brace initialization for parameter value
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/lsm/LiveMigrateDiskCommand.java
Labels: storage

#507 core: Uploading an image with an existing disk id
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/disk/AddDiskCommand.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/storage/disk/AddDiskCommandTest.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/errors/EngineMessage.java
  frontend/webadmin/modules/frontend/src/main/java/org/ovirt/engine/ui/frontend/AppErrors.java
  frontend/webadmin/modules/frontend/src/main/resources/org/ovirt/engine/ui/frontend/AppErrors.properties
Labels: storage

#527 core: Comment about VM affinity validation on migration
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/MaintenanceNumberOfVdssCommand.java
Labels: virt

#492 setup: Don’t fail cleanup on empty remote engine environment
  packaging/setup/plugins/ovirt-engine-common/base/remote_engine/remote_engine.py
Labels: verified, infra

#530 webadmin: Disable New on Networks tab for Blank
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/templates/TemplateInterfaceListModel.java
Labels: verified, virt

#535 core: Ignore isValid() == false, if migration succeeded
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/MaintenanceVdsCommand.java
Labels: verified, virt

#531 engine: Fix incorrect value in audit log warning
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/monitoring/HostMonitoring.java
Labels: verified, virt

#419 core: vnic hot un\plug - avoid race
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/network/vm/ActivateDeactivateVmNicCommand.java
Labels: networking

#504 Reset NUMA configuration with resize and pin VM
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/UpdateVmCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/VmHandler.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/errors/EngineMessage.java
  backend/manager/modules/dal/src/main/java/org/ovirt/engine/core/dao/VmNumaNodeDao.java
  backend/manager/modules/dal/src/main/java/org/ovirt/engine/core/dao/VmNumaNodeDaoImpl.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/monitoring/VmAnalyzer.java
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/monitoring/VmsMonitoring.java
  frontend/webadmin/modules/frontend/src/main/java/org/ovirt/engine/ui/frontend/AppErrors.java
  frontend/webadmin/modules/frontend/src/main/resources/org/ovirt/engine/ui/frontend/AppErrors.properties
  packaging/dbscripts/numa_sp.sql
Labels: virt

#542 core: Report names rather than ids in affinity conflicts
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/commands/AffinityGroupCRUDCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/validator/AffinityValidator.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/scheduling/commands/AddAffinityGroupCommandTest.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/scheduling/commands/EditAffinityGroupCommandTest.java
Labels: verified, virt

#552 core: Fix NPE on invalid affinity group ID
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/scheduling/commands/AffinityGroupCRUDCommand.java
Labels: verified, virt

#525 core: update cpuTopology on status changes
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/VdsManager.java
Labels: verified, virt

#544 restapi: Pass display type from VmPool.vm to AddVmPoolParameters
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/BackendVmPoolsResource.java
Labels: verified, virt

#551 Change iSCSI storage connection validation to properly avoid duplications
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/connection/ISCSIStorageHelper.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/connection/StorageServerConnectionCommandBase.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/storage/connection/AddStorageServerConnectionCommandTest.java
  backend/manager/modules/bll/src/test/java/org/ovirt/engine/core/bll/storage/connection/UpdateStorageServerConnectionCommandTest.java
  backend/manager/modules/dal/src/main/java/org/ovirt/engine/core/dao/StorageServerConnectionDao.java
  backend/manager/modules/dal/src/main/java/org/ovirt/engine/core/dao/StorageServerConnectionDaoImpl.java
  packaging/dbscripts/storages_san_sp.sql
Labels: storage

#557 engine: fix reboot on powering up VM
  backend/manager/modules/vdsbroker/src/main/java/org/ovirt/engine/core/vdsbroker/monitoring/VmAnalyzer.java
Labels: verified, virt
