Repository oVirt/ovirt-engine, pull requests merged in 2022-08, with the labels that each got.

#556 core: Add missing AttachUserToVmFromPoolAndRun job properties
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/AttachUserToVmFromPoolAndRunCommand.java
Labels: verified, virt

#562 packaging: Make sure OVN certificates are renewed when needed
  packaging/setup/plugins/ovirt-engine-setup/ovirt-engine/network/ovirtproviderovn.py
Labels: bug, verified, infra

#514 restapi: expose TPM support provided by the OS
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/BackendOperatingSystemResource.java
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/BackendOperatingSystemsResource.java
  backend/manager/modules/restapi/types/src/main/java/org/ovirt/engine/api/restapi/types/TpmSupportMapper.java
Labels: UX

#571 restapi: Change StatisticKind to COUNTER and StatisticUnit to NONE
  backend/manager/modules/restapi/jaxrs/src/main/java/org/ovirt/engine/api/restapi/resource/DiskStatisticalQuery.java
Labels: storage

#568 Perform cleanup after insufficient free space error during LSM
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/storage/lsm/LiveMigrateDiskCommand.java
Labels: bug, verified, storage

#524 fix snapshot removal when image already merged
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/snapshots/ColdMergeSnapshotSingleDiskCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/snapshots/RemoveSnapshotSingleDiskLiveCommand.java
Labels: storage

#578 core: Prevent writing TPM device twice to OVA
  backend/manager/modules/utils/src/main/java/org/ovirt/engine/core/utils/ovf/OvfWriter.java
Labels: bug, verified, virt

#583 webadmin: warn when cloning snapshot with memory
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/help/HelpTag.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/VmSnapshotListModel.java
  frontend/webadmin/modules/uicompat/src/main/java/org/ovirt/engine/ui/uicompat/UIConstants.java
  frontend/webadmin/modules/uicompat/src/main/resources/org/ovirt/engine/ui/uicompat/UIConstants.properties
Labels: verified, virt

#579 LiveMerge: move getVolumeInfo to executeCommand
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/snapshots/RemoveSnapshotSingleDiskLiveCommand.java
Labels: enhancement, storage

#582 core: Don’t mark TPM device as special
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/utils/VmDeviceCommonUtils.java
  backend/manager/modules/utils/src/main/java/org/ovirt/engine/core/utils/ovf/OvfReader.java
  backend/manager/modules/utils/src/main/java/org/ovirt/engine/core/utils/ovf/OvfWriter.java
Labels: verified, virt

#587 Move VmDeviceCommonUtils.isSpecialDevice to ovf package
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/utils/VmDeviceCommonUtils.java
  backend/manager/modules/utils/src/main/java/org/ovirt/engine/core/utils/ovf/OvfReader.java
  backend/manager/modules/utils/src/main/java/org/ovirt/engine/core/utils/ovf/OvfReaderWriterUtils.java
  backend/manager/modules/utils/src/main/java/org/ovirt/engine/core/utils/ovf/OvfVmWriter.java
  backend/manager/modules/utils/src/main/java/org/ovirt/engine/core/utils/ovf/OvfWriter.java
Labels: verified, virt

#594 Skip disk profiles validation on memory disk
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/profiles/DiskProfileHelper.java
Labels: virt

#609 core: Remove image if CreateSnapshotFromTemplateCommand failed
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/snapshots/CreateSnapshotFromTemplateCommand.java
Labels: verified, virt

#614 Skip thresholds validation for remove snapshot
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/snapshots/RemoveSnapshotCommand.java
Labels: verified, storage

#618 Add missing execution job message for ReduceImage
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/ReduceImageCommand.java
  backend/manager/modules/dal/src/main/resources/bundles/ExecutionMessages.properties
Labels: storage

#613 ui: Changed Incremental Backup from default true to false
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/storage/UploadImageModel.java
Labels: storage

#620 webadmin: Change error for using resize policy with dedicated CPUs
  frontend/webadmin/modules/frontend/src/main/resources/org/ovirt/engine/ui/frontend/AppErrors.properties
Labels: verified, virt

#621 webadmin: remove the validation for a new template
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/VmListModel.java
Labels: verified, virt

#622 setup: Put unique name to remote engine cleanup event
  packaging/setup/ovirt_engine_setup/constants.py
  packaging/setup/plugins/ovirt-engine-common/base/remote_engine/remote_engine.py
Labels: verified

#570 core: Support virtio ISO from data domain in VM import
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/VmCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/exportimport/ConvertVmCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/exportimport/ImportVmFromExternalProviderCommand.java
  backend/manager/modules/bll/src/main/java/org/ovirt/engine/core/bll/exportimport/ImportVmFromOvaCommand.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/action/ConvertVmParameters.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/action/ImportVmFromExternalProviderParameters.java
  backend/manager/modules/common/src/main/java/org/ovirt/engine/core/common/errors/EngineMessage.java
  frontend/webadmin/modules/frontend/src/main/java/org/ovirt/engine/ui/frontend/AppErrors.java
  frontend/webadmin/modules/frontend/src/main/resources/org/ovirt/engine/ui/frontend/AppErrors.properties
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/ImportVmFromExternalSourceModel.java
  frontend/webadmin/modules/uicommonweb/src/main/java/org/ovirt/engine/ui/uicommonweb/models/vms/ImportVmFromOvaModel.java
Labels: verified, virt
